kaleido
lida

accelerate==0.24.1
transformers==4.35.2
ftfy==6.1.3 
albumentations==1.3.1
opencv-python==4.8.1.78
einops==0.7.0
diffusers[torch]==0.23.1
pytorch-lightning==2.1.2
bitsandbytes==0.41.2
#tensorboard==2.15.1
safetensors==0.4.1
# gradio==3.16.2
altair==5.2.0
easygui==0.98.3
toml==0.10.2
voluptuous==0.14.1
# for BLIP captioning
requests==2.31
timm==0.9.12
fairscale==0.4.13
# for WD14 captioning
# tensorflow<2.11
tensorflow==2.12.0
huggingface-hub==0.19.4
# for kohya trainer colab
gallery-dl==1.25.1
gdown==4.7.1
imjoy-elfinder==0.1.62
dadaptation==3.2
lion-pytorch==0.1.2
# for network module
locon==0.0.4
lycoris-lora==1.9.0
# open clip for SDXL
open-clip-torch==2.20.0
# for kohya_ss library
.


